<div class="row">
    <div class="col-12">
        <h1 class="display-3 mx-auto text-center">{{data.title}}</h1>
    </div>
    <div class="col-12">
        <h1 class="display-3 mx-auto">Question</h1>
        <p>{{data.question}}</p>
    </div>
    <div class="col-12">
        <h1 class="display-3 mx-auto">Explanation</h1>
        <p>{{data.explanation}}</p>
    </div>
    <div class="col-12">
        <h1 class="display-3">Code</h1>
        <pre><code class="language-cpp">
    {{data.code}}
  </code></pre>
    </div>
    <div class="col-12">
        <h1 class="display-3 mx-auto">Ending</h1>
        <p>{{data.after}}</p>
    </div>
    {{/each}}
</div>