<div class="row">
    <div class="col-12">
        <h1 class="h1 mx-auto text-center">{{fin.items.data.name}}</h1>
    </div>
    <div class="col-12">
        <h1 class="h1 mx-auto">Question</h1>
        <p>{{fin.items.data.question}}</p>
    </div>
    <div class="col-12">
        <h1 class="h1 mx-auto">Explanation</h1>
        <p>{{fin.items.data.explain}}</p>
    </div>
    <div class="col-12">
        <h1 class="h1">Code</h1>
        <something items="fin.items.data.code"></something>
    </div>
</div>